[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
solana_ido = "DLThX59oXgmtrkGJbyjTjkwC4qBp4H36QfGJvfFCsiue"

[programs.devnet]
solana_ido = "DLThX59oXgmtrkGJbyjTjkwC4qBp4H36QfGJvfFCsiue"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
